html {
    background-color: #181926;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.gato {
    font-size: 56px;
    animation: cor 60s infinite none infinite;
}

@keyframes cor {
    0% {
        color: skyblue;
    }
}
