table,
td {
    border: 1px solid #d4b3f9;
    border-collapse: collapse;
}

table {
    float: left;
    padding-left: 300px;
    font-size: 28px;
}

td {
    padding: 43px;
}

html {
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/ad195539-f4f0-4a8c-9a89-483cdcf71d01/d2uzyup-355886ea-74b9-4bde-9b40-dbc101361e76.png");
    background-size: cover;
    color: #d4b3f9;
    background-size: cover;
    font-family: Arial;
}

.HeaderInfos {
    float: left;
    margin: 0px;
    padding: 2px;
    padding-top: 0px;
    padding-left: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    font-size: 20px;
}